.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

:root {
  --about-me-color: rgb(68, 0, 0);
  --projects-color: rgb(10, 5, 9);
  --contact-me-color: rgb(12, 12, 12);
  --blue: rgb(17, 30, 48);
  --transparentBlue: rgb(17, 30, 48, 0.5);
}

/* This applies the default font, text color, and margin size */
* {
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
  margin: 0;
  line-height: 1.5;
}

body {
  height: 90vh;
  background-color: #121212;
}

object {
  height: 89vh;
  width: 183vh;
  margin-top: 10vh;
}

a {
  text-decoration: none;
}

.main-page {
  padding-top: 5%;
  padding-bottom: 5%;
}

.header {
  text-align: center;
  display: inline-block;
  color: whitesmoke;
  margin-left: 15px;
  font-size: xx-large;
}

/* This hides a shorter h2 that replaces the main h2 "Phoenix Staley - Web developer" on small devices */
.short-header {
  display: none;
}

.navigation {
  display: inline-block;
  margin-right: 20px;
  font-size: x-large;
}

.navigation li {
  display: inline;
  margin: 0 9px;
}

.navigation li a {
  text-decoration: none;
  color: whitesmoke;
  border-bottom: lightblue solid 2px;
}

/* This formats the section with the <DEVELOPER> image */
.hero {
  position: relative;
  height: 400px;
  width: 100%;
  background-image: url(./assets/images/Developer_Tag.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about-logo {
  height: 192px;
  width: 192px;
}

.footer-logo {
  display: inline;
  padding: 0.5%;
  height: 64px;
  width: 64px;
}

.icon-link {
  min-height: 5vh;
  min-width: 5vw;
  padding-top: 1vh;
  margin: 1vw;
  padding-bottom: 1vh;
  transition: ease-in-out 200ms;
}

.icon-link:hover {
  transform: scale(1.1);
}

.flex-container {
  display: flex;
}

.sidebar {
  position: relative;
  width: 33%;
  justify-content: center;
  align-items: flex-start;
  border-right: lightblue solid 5px;
  border-radius: 2px;
  margin-right: 2%;
}

.main-section {
  padding-bottom: 5%;
  justify-content: center;
}

.projects {
  width: 85%;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
  align-content: space-around;
  gap: 10px 15px;
  flex-direction: row;
}

.projects.flex-container {
  justify-content: center;
}

.carousel-inner > .carousel-item > img {
  width: 75vw;
  height: 34vh;
}

.project-image {
  border: var(--blue) solid 4px;
  max-width: 100%;
  max-height: 100%;
  border-radius: 15px;
  display: inline-block;
  transition: ease-out 200ms;
}

/* This formats the project links */
.projects a {
  max-width: 100%;
  position: relative;
  flex-grow: 1;
  transition: ease 300ms;
}

.projects a:hover {
  transform: scale(1.03);
}

.github:hover {
  color: rgb(50, 150, 50);
  text-decoration: underline;
}

/* This formats the headers attached to the project links */
.project-title {
  position: absolute;
  bottom: 10%;
  left: 4px;
  z-index: 3;
  font-size: large;
  background-color: rgb(17, 30, 48, 0.8);
  padding: 5px 5%;
}

/* This formats the main project slightly larger */
a:first-child .project-title {
  font-size: xx-large;
  max-width: 100%;
}

.pineapple-shirt {
  width: 50%;
  height: 50%;
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  margin: 100px;
}

/* This formats the divs containing the content of each main section */
.content {
  width: 66%;
}

.content p {
  width: 84%;
  font-size: large;
}

/* This formats the headings such as "About me", "Projects", etc. */
.section-heading {
  font-size: x-large;
  padding: 1% 1%;
  grid-area: heading;
  text-align: center;
}

.mainProject {grid-area: main;}
.project1 {grid-area: project1;}
.project2 {grid-area: project2;}
.project3 {grid-area: project3;}

.project1 img, .project2 img, .project3 img, .project4 img {
  height: 50vh;
  width: 40vw;
}

.grid-container {
  display: grid;
  grid-template-areas:
      "heading heading"
      "main main"
      "main main"
      "project1 project2"
      "project3 project4";
  gap: 15px;
}

#project-section {
  margin-top: 5%;
}

#about-me {
  padding-top: 2%;
}

#contact-me {
  background-color: var(--contact-me-color);
  padding-bottom: 2%;
}

#contact-me .content {
  width: 55%;
  justify-content: space-evenly;
}

#contact-me .content h3 {
  text-align: center;
  padding: 1%;
  font-size: larger;
}

#contact-me .content a {
  text-decoration: none;
  color:darkturquoise;
  margin: 0 40%;
  border-bottom: lightblue dotted 2px;
}

#relative-footer {
  position: fixed;
  display: flex;
  z-index: 3;
  align-items: center;
  justify-content: center;
  bottom: 0;
  width: 100%;
  padding-top: 0.5%;
  background-color: var(--transparentBlue);
  text-align: center;
  max-height: 8%;
}

#relative-footer h3 {
  padding: 0.5%;
  display: inline;
}

#navbar {
  height: 10%;
}

/* These format for medium and small sized screens. It mostly making everything smaller and closer together */
@media (min-width: 768px) and (max-width: 1024px) {
  .header, .section-heading {
      font-size: x-large;
  }

  .navigation {
      font-size: large;
  }

  .navigation li {
      margin: 0 5px;
  }

  .hero {
      justify-content: space-between;
  }

  .hero-subtitle {
    font-size: xx-large;
  }

  .pineapple-shirt {
      height: 150px;
      width: 150px;
  }

  .about-logo {
      height: 192px;
      width: 192px;
  }

  .main-section .content p {
      font-size: medium;
  }

  .project-title {
      font-size: small;
      bottom: 15%;
  }

  .project1 img, .project2 img, .project3 img {
      height: 15vh;
      width: 20vw;
  }

  .static-header {
      height: 5%;
  }

  #contact-me {
      font-size: small;
  }

  #about-me {
    padding-bottom: 25vh;
  }
}

@media (max-width: 767px) {
  .header {
      font-size: larger;
  }
  
  .section-heading {
      font-size: medium;
  }

  .navigation {
      font-size: large;
      margin-right: 10px;
  }

  .navigation li {
      margin: 0 5px;
  }

  .hero {
      justify-content: space-between;
  }

  .hero-subtitle {
      font-size: large;
  }

  .about-logo {
      height: 128px;
      width: 128px;
  }

  .pineapple-shirt {
      height: 125px;
      width: 125px;
      margin: 0;
      margin-left: 5%;
  }

  .main-section .content p {
      font-size: small;
  }

  .projects {
    width: 100%;
  }

  .project-title {
      font-size: small;
      bottom: 20%;
  }

  .project1 img, .project2 img, .project3 img {
      height: 30vh;
      width: 30vw;
  }
  
  a:first-child .project-title {
      font-size: x-large;
  }

  .static-header {
      height: 5%;
  }

  .main-header {
      display: none;
  }

  .short-header {
      display: inline-block;
  }

  .project1 img, .project2 img, .project3 img {
      height: 10vh;
  }

  #contact-me {
      font-size: x-small;
  }

  #about-me {
      padding-bottom: 25vh;
  }

  #relative-footer {
    max-height: 16%;
    font-size: larger;
  }

  #navbar {
      height: 10%;
  }

  #project-section {
      margin-top: 15%;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
